body {
            font-family: "Roboto", sans-serif;
            color: #434455;
            background-color: #ffffff;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* ---HEADER--- */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;
}
.logo-accent {
    color: #4d5ae5;
}
.header {
    /* font-family: "Roboto", sans-serif; */
    border-bottom: 1px solid #e7e7f9;
}
.header .container {
    display: flex;
    align-items: center;
}
.header li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}
.header nav {
    margin-left: 76px;
}

/* .header nav li {
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 40px;
    margin-left: 76px;
} */

.header nav ul {
    display: flex;
    gap: 40px;
}

.header nav a {
    font-weight: 500;
    display: block;
    text-decoration: none;
    color: #2e2f42;
    letter-spacing: 0.03em;

}
.header nav a:hover,
.header nav a:focus {
    color: #404bbf;
}

.header address {
    font-style: normal;
    font-family: "roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    margin-left: auto
}

.header address ul {
    display: flex;
    gap: 40px;
}

.header address li {
    display: flex;
    gap: 40px;
}

.header address a {
    display: block;
    padding: 24px 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.header address a:hover{
    color: #404bbf;
}
    .header address a:focus{
        color: #404bbf;
}



/* ---HERO SECTION--- */



.hero {
    background-color: #2e2f42;
    color: #ffffff;
    padding: 188px 0;
}
.hero-main { 
    max-width: 469px;
    margin: 0 auto 48px;
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: #ffffff; 
}
.hero-button {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}




/* ---FEATURES SECTION--- */




/* .features li {
    margin-bottom: 24px;  
} */

.features {
    padding: 120px 0;
}
.features ul {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.features li {
    width: calc((100% - 72px) / 4); 
}

.features h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    color: #434455;
}



/* ---TEAM SECTION--- */



.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.team-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
}

.team-list li{
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.8), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.8);
}
.team-list li h3,
.team-list li p {
    text-align: center;
    background-color: transparent;
}

.team-list li h3 {
    margin-bottom: 8px;
}

.team-main {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
line-height: 1.2;
background-color: #ffffff;
color: #2e2f42;
}
.team p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    background-color: #ffffff;
}
.team-text {
    padding-top: 32px;
}

.team-subtext {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 32px;
}


/* ---PORTFOLIO SECTION--- */

.portfolio {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list li {
    width: calc((100% - 48px) / 3); 
    background-color: #ffffff;
    border: 1px solid #e7e7f9;
    border-top: none;
}

.portfolio-list img {
    display: block;
}

.portfolio-list li h3 {
    margin-bottom: 8px;
}

.portfolio-list li h3,
.portfolio-list li p {
  padding-left: 16px;
  padding-right: 16px;
}

.portfolio-list li h3 {
  padding-top: 32px;
}

.portfolio-list li p {
  padding-bottom: 32px;
}

.portfolio li {
    list-style: none;
    font-family: "Roboto", sans-serif;  
}
.portfolio-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    color: #2e2f42;
}
.portfolio h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}   
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} 


/* ---FOOTER SECTION--- */



.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4f4fd;
}

.footer-logo-accent {
    color: #4d5ae5;
}

.footer p {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}